:root {
    --accent1-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid rgb(0 0 0);
    padding: 10px;
    background-color: #EEEEEE;
    align-items: center;
}

section img {
    width: 150px;
    display: flex;
}

.destaque img {
    width: 100px;
    margin: auto;
    gap: 10px;
}

.destaque {
    display: flex;
    flex-direction: row;
    align-items: end;
    align-content: space-between;
    row-gap: 0.5rem;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body img {
    width: 400px;
}

.navigation,
.employ {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid rgb(0 0 0);
    padding: 10px;
    background-color: #EEEEEE;
    align-items: center;
}

h1,
p {
    text-align: center;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.heading {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-items: center;
}

.employ img {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
    width: 150px;
    height: auto;

}

footer img {
    width: 20px;
    height: 1rem;
}

footer {
    display: flex;
    justify-items: left;
    align-items: center;
    background-color: #EEEEEE;
}

header {
    display: flex;
    border: 1px solid rgb(0 0 0);
    border-radius: 1rem;
    background-color: #EEEEEE;
    justify-content: center;

}

header img {
    display: flex;
    width: 150px;
}

nav {
    margin: 16px;
    padding: 8px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid rgb(0 0 0);
    padding: 10px;
    background-color: #EEEEEE;
    align-items: center;
}

section img {
    width: 150px;
    display: flex;
    float: left;
}

.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    align-items: center;
    font-size: medium;
    border: 3px solid rgb(0 0 0);
    background-color: #EEEEEE;
    margin: 25px;
}

.content {
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
    column-gap: 1.5rem;
    background-color: rgb(221, 225, 233);
    height: 100px;
    min-width: 200px;
    margin: 20px;
    padding: 30px;
}

.content thead tr {
    background-color: rgb(161, 158, 158);
    color: black;
}

.content th,
td {
    padding: 15px;
    border: 1,
        px solid;
}

#background img {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: right;
    position: block;
}

.thrill img {
    display: grid;
    justify-content: center;
}