:root {
    --accent1-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body img {
    width: 400px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 1100px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

footer img {
    width: 20px;
}

.heading {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-items: center;
}

footer {
    display: flex;
    justify-items: left;
}

section img {
    display: flex;
    justify-items: center;
    width: 250px;
}

section p {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, repeat(3, 1fr);
            justify-content: center;
    }