:root {
    --accent1-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body img {
    width: 400px;
}

header {
    display: flex;
    border: 1px solid rgb(0 0 0);
    border-radius: 1rem;
    background-color: #EEEEEE;
    align-content: space-evenly;
}

header img {
    display: flex;
    width: 150px;
}

.navigation,
.employ {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid rgb(0 0 0);
    padding: 10px;
    background-color: #EEEEEE;
    align-items: center;
}

h1,
p {
    text-align: center;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

footer img {
    width: 20px;
}

.heading {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-items: center;
}

footer {
    display: flex;
    justify-items: left;
}

.employ img {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
    width: 150px;
    height: auto;

}